$background-white: rgb(255, 255, 255);
$violet-color: rgb(119, 56, 255);
*{
    margin: 0;
    box-sizing: border-box;
    background-color:  hsl(0, 8%, 90%);
    
}
.input{
    background-color:$background-white;
    width: 80px;
    height: 30px;
}
.container{
    margin: 20px auto auto auto;
    background-color:$background-white;
    height: 395px;
    max-width: 400px !important;
    font-size: 32px;
    font-size: 16px;
    border-radius: 0 15% 25% 5%;
    .form {
        width: 320px;
    }
    .line{
        background-color: $background-white;
        display: flex;
        padding-top: 10px;
        justify-content: flex-start;
        position: relative;
        height: 100px;
        z-index: 10px;
        hr{
            background-color:$background-white;
            position: absolute;
            margin-top: 40px;
            justify-content: flex-start;
            height: 30px;
            width: 90%;
            z-index: 10;
        }
        .button{
            position: absolute;
            z-index: 100;
            margin: auto auto auto 75%;
            
        }
    }
    .row{
        background-color: $background-white;
        width: 320px;
        .label{
            font-weight: 500;
        }
        .col{
            background-color: $background-white;
            width: 90px;
        }
    }
    .row-sum{
        font-size: 32px;
        font-weight: 700;
        p{
            background-color:$background-white;
            color:rgb(0, 0, 0);
            width: 50%;
        }
        .text{
            color:$violet-color;
            float: left;
        }
    }
    .arrowImg{
        background-color: $violet-color;
        border: solid $violet-color 1px;
        border-radius: 50%;
    }
    .button{
        background-color: $violet-color;
        border-radius: 50%;
        border: solid $violet-color 1px;
        size: 150%;
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 767.98px) { 
    .container{
        height: 500px;
        max-width: 350px;
        font-size: 32px;
        font-size: 16px;
        border-radius: 0% 15% 15% 5%;
        .line{
            hr{
                padding: 10px;
            }
            .button{
                margin: auto auto auto 35%;
            }
        }
    }
}