*{
    margin: 0;
    box-sizing: border-box;
    background-color:  hsl(0, 8%, 90%);
}
input{
    background-color: aliceblue;
    width: 80px;
    height: 30px;
}
.container{
    background-color: rgb(113, 174, 228);
    height: 100%;
    width: 100%;
    font-size: 32px;
    font-size: 16px;
    .row{
        background-color: aliceblue;
        width: 320px;
        .col{
            background-color: rgb(173, 212, 245);
            width: 160px;
        }
    }
    .row-sum{
        font-size: 32px;
        font-weight: 700;
        p{
            color:rgb(0, 0, 0);
            width: 30%;
        }
        .text{
            color:rgb(119, 56, 255);
            float: left;
        }
    }
    .arrowImg{
        background-color: black;
        border: solid black 1px;
        border-radius: 50%;
    }
    .button{
        background-color: black;
        border-radius: 50%;
        size: 150%;
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 575.98px) { 

}