*{
    margin: 0;
    box-sizing: border-box;
    background-color:  hsl(0, 8%, 90%);
    
}
.input{
    background-color: aliceblue;
    width: 80px;
    height: 30px;
}
.container{
    margin: 20px auto auto auto;
    background-color: rgb(255, 255, 255);
    height: 100%;
    max-width: 400px !important;
    font-size: 32px;
    font-size: 16px;
    .line{
        background-color: rgb(255, 255, 255);
        display: flex;
        padding-top: 10px;
        justify-content: flex-start;
        position: relative;
        height: 100px;
        z-index: 10px;
        hr{
            background-color: rgb(255, 255, 255);
            position: absolute;
            margin-top: 40px;
            justify-content: flex-start;
            height: 30px;
            width: 90%;
            z-index: 10;
        }
        .button{
            position: absolute;
            z-index: 100;
            margin: auto auto auto 75%;
            
        }
    }
    .row{
        background-color: rgb(255, 255, 255);
        width: 320px;
        .col{
            background-color: rgb(173, 212, 245);
            width: 160px;
        }
    }
    .row-sum{
        font-size: 32px;
        font-weight: 700;
        p{
            background-color: rgb(255, 255, 255);
            color:rgb(0, 0, 0);
            width: 30%;
        }
        .text{
            color:rgb(119, 56, 255);
            float: left;
        }
    }
    .arrowImg{
        background-color: black;
        border: solid black 1px;
        border-radius: 50%;
    }
    .button{
        background-color: black;
        border-radius: 50%;
        size: 150%;
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 767.98px) { 
    .container{
        height: 100%;
        max-width: 350px;
        font-size: 32px;
        font-size: 16px;
        .line{
            hr{
                width: 90%;
                height: 90%;
            }
            .button{
                margin: auto auto auto 35%;
            }
        }
    }
}