* {
  margin: 0;
  box-sizing: border-box;
  background-color: #e8e3e3;
}

.input {
  background-color: white;
  width: 80px;
  height: 30px;
}

.container {
  margin: 20px auto auto auto;
  background-color: white;
  height: 395px;
  max-width: 400px !important;
  font-size: 32px;
  font-size: 16px;
  border-radius: 0 15% 25% 5%;
}

.container .form {
  width: 320px;
}

.container .line {
  background-color: white;
  display: flex;
  padding-top: 10px;
  justify-content: flex-start;
  position: relative;
  height: 100px;
  z-index: 10px;
}

.container .line hr {
  background-color: white;
  position: absolute;
  margin-top: 40px;
  justify-content: flex-start;
  height: 30px;
  width: 90%;
  z-index: 10;
}

.container .line .button {
  position: absolute;
  z-index: 100;
  margin: auto auto auto 75%;
}

.container .row {
  background-color: white;
  width: 320px;
}

.container .row .label {
  font-weight: 500;
}

.container .row .col {
  background-color: white;
  width: 90px;
}

.container .row-sum {
  font-size: 32px;
  font-weight: 700;
}

.container .row-sum p {
  background-color: white;
  color: black;
  width: 50%;
}

.container .row-sum .text {
  color: #7738ff;
  float: left;
}

.container .arrowImg {
  background-color: #7738ff;
  border: solid #7738ff 1px;
  border-radius: 50%;
}

.container .button {
  background-color: #7738ff;
  border-radius: 50%;
  border: solid #7738ff 1px;
  size: 150%;
  height: 80px;
  width: 80px;
}

@media (max-width: 767.98px) {
  .container {
    height: 500px;
    max-width: 350px;
    font-size: 32px;
    font-size: 16px;
    border-radius: 0% 15% 15% 5%;
  }
  .container .line hr {
    padding: 10px;
  }
  .container .line .button {
    margin: auto auto auto 35%;
  }
}
